alabaster==0.7.13
arandr==0.1.11
asgiref==3.6.0
attrs==22.2.0
autocommand==2.2.2
autotiling==1.8
Babel==2.11.0
btrfsutil==6.2.2
cffi==1.15.1
chardet==5.1.0
colorama==0.4.6
cryptography==40.0.1
defusedxml==0.7.1
Django==4.2
docutils==0.19
fastjsonschema==2.16.3
future==0.18.2
Glances==3.3.1.1
i3ipc==2.2.1
idna==3.4
imagesize==1.4.1
inflect==6.0.4
jaraco.context==4.3.0
jaraco.functools==3.6.0
jaraco.text==3.11.1
Jinja2==3.1.2
MarkupSafe==2.1.2
meson==1.0.1
more-itertools==9.1.0
nftables==0.1
ordered-set==4.1.0
packaging==23.0
platformdirs==3.2.0
ply==3.11
psutil==5.9.4
pyaml==21.10.1
pycairo==1.23.0
pycparser==2.21
pydantic==1.10.7
Pygments==2.14.0
PyGObject==3.44.1
PyQt5==5.15.9
PyQt5-sip==12.12.1
python-xlib==0.33
pytz==2022.7.1
PyYAML==6.0
ranger-fm==1.9.3
Reflector==2021.11.20.2.41.3
requests==2.28.2
shtab==1.5.8
six==1.16.0
snowballstemmer==2.2.0
Sphinx==6.2.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.4
team==1.0
termcolor==2.2.0
tldr==3.1.0
tomli==2.0.1
trove-classifiers==2023.4.20
typing_extensions==4.5.0
ujson==5.7.0
urllib3==1.26.13
validate-pyproject==0.12.2.post1.dev0+g2940279.d20230328
