{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Create a new listing</h1>

    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="Enter the title">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <input type="text" name="description" class="form-control" id="description" placeholder="Enter a short description">
        </div>
        <div class="mb-3">
            <label for="imageurl" class="form-label">Image URL:</label>
            <input type="text" name="imageurl" class="form-control" id="imageurl" placeholder="Enter the image URL">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Your bid:</label>
            <input type="number" name="bid" class="form-control" id="bid" placeholder="Enter your bid">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Choose a category:</label>
            <select class="form-select" name="category" id="category">
                {% for category in categories %}
                <option value="{{ category }}"> {{ category }} </option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" class="btn btn-success" value="Create New Listing!">
    </form>
{% endblock %}
