{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit entry
{% endblock %}

{% block body %}
    <h1>Editing {{ title }}</h1>
    <form action="{% url 'save_edit' %}" method="post" class="form-group">
        {% csrf_token %}
        <div>
            <label class="form-label">Title</label>
            <br/>
            <input type="text" class="form-control" name="title" value="{{ title }}">
            <label class="form-label">Content:</label>
            <br/>
            <textarea class="form-control" style="height: 60vh" name="content">{{ content }}</textarea> 
            <br/>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
{% endblock %}